#
# Propidades del servidor, que maneja los agentes
#

#
# Puerto por defecto en el que escucha
#
port=10125

#
# Directorio donde estan los ficheros de las calses de agentes.
# El ClassManager necesita este caminio para proporcionar los byte codes
# en una peticion GET_CLASS.
#
agentsPath=/raf/agentes/

#
# el class manager maneja los byte code de una clase cagada
# durante algún tiempo después de que se han borrado todos los agentes de esa clase.
#
byteCodeDelay=100000

#
# Establece la localización del servidor de dominio.
# Todos los servidores de agentes sabran asi que estas en linea
#
#raServer=
raServer=10.16.130.154
raPort=10102

